body{margin: 0;
font-family: sans-serif;}

header{background-color: lightblue;
	text-align:  center;
padding-top:50px;
padding-bottom: 50px;}

header h1{color: white; font-size: 50px;
}

h1{font-family: 'Luxurious Roman', cursive;}

header img{border-radius: 100px;
			border: 5px solid white;
			width: 150px;}

main img {max-width: 100%; border: 10px lightblue; border-radius: 50px;}

h2{color: white;
font-family: 'Libre Baskerville', serif;}

main{max-width: 1000px; 
margin: 0 auto;
text-align: center;
padding: 0 20px 20px 0;}

a{color: hotpink;}

ul, ol {align-content: center;}

footer{background-color: lightblue; 
	text-align: center;
	color: white;
padding: 50px;}

p.caption{color: dimgrey; font-style: italic;}

.button {
  font: bold 40px sans-serif;
  text-decoration: none;
  background-color: #white;
  color: #333333;
  padding: 4px 8px 4px 8px;
}

{box-sizing: border-box;}

/* Button used to open the chat form - fixed at the bottom of the page */
.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

/* The popup chat - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width textarea */
.form-container textarea {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  resize: none;
  min-height: 200px;
}

/* When the textarea gets focus, do something */
.form-container textarea:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

footer a: hover
		{opacity: .5;
			background-color: transparent;}


